// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cash-page {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.cash-page-left {
    width: 750px;
    margin: 0 auto;
}

.balance-2 {
    font-size: 24pt;
    font-weight: 520;
    margin-top: -.4em;
    padding-bottom: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.cash-page-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
}

.cash-page-container {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 310px;
    border: 1px solid #333333;
    background-color: transparent;
    border-radius: 7px;
    height: 250px;
    vertical-align: middle;
    margin-right: 20px;
}

.cpc-left svg {
    margin-top: 25px;
}

.cpc-left {
    display: inline-block;
    width: 30%;
    height: 220px;
}

.cpc-right {
    display: inline-block;
    width: 70%;
    margin-top: 25px;
    
}

.cpc-title {
    font-weight: 500;
    font-size: 12pt;
    padding: 12px;
    padding-bottom: 0;
    margin-left: 10px;
}

.cash-bp {
    font-weight: 600;
    font-size: 14pt;
    padding: 12px;
    padding-top: 5px;
    margin-left: 10px;
}

.cash-detail {
    padding-top: 25px;
    font-weight: 400;
    font-size: 11pt;
    color: #5e5e5e;
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
}