// Place all the styles related to the api/stocks_owned controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.small-chart {
    text-align: center;
    padding: 5px;
    padding-left: 8px;
}