/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .test {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12pt;
     color: black;
 }

 .login-signup {
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 100;
 }
 .header-button {
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 100;    }

.login-form-spacer {
    height: 130px;
}

 .log-in {
    background: white;
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.login-form-container {
        align-items: center;
        background-color: white;
        flex-basis: 50%;
        height: 100%;
    }

.left-side-login {
    background-image: url('login.png');
    background-position: center;
    background-size: cover;
    flex-basis: 50%;
}

.login-form-box {
    position: relative;
    padding: 100px;
    top: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18pt;
    text-align: left;
}

.login-input {
    width: 800px;
    padding-left: 40px;
    height: 90px;
    background-color: #f9f9f9;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    border-radius: 10px;
}

.login-input:hover {
    outline: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}

.login-input:active {
    outline: 1px solid #21ce99;
    border-radius: 10px;
    background-color: white;
}
.login-input:visited {
    outline: 1px solid #21ce99;
    border-radius: 5px;
    background-color: transparent;
}

.login-box-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 38pt;
    line-height: 1em;
}

.session-submit {
    background-color: #21ce99;
    width: 280px;
    height: 96px;
    color: white;
    border-radius: 7px;
    border-color: #21ce99;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18pt;
    font-weight: 600;
}


a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #21ce99;
    font-weight: 500;
    font-size: 18pt;
}

input {
    border: none;
}